body
{
    background-color: rgb(219,237,236);
    border: 1px black dotted;
    border-radius: 10px / 10px;
    font-size: 4mm;
    font-family: 'Verdana', sans-serif;
}
h1
{
    color: rgb(34,163,157);
    text-align: center;
    font-size: 10mm;
}
h2
{
    color: rgb(15,36,35);
}
img
{
    float: right;
}