@font-face 
{
    font-family: 'droid_sansregular';
    src: url('DroidSans-webfont.eot');
    src: url('DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('DroidSans-webfont.woff') format('woff'),
         url('DroidSans-webfont.ttf') format('truetype'),
         url('DroidSans-webfont.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body
{
    font-family: 'droid_sansregular', 'Arial', sans-serif;
    background-color: rgb(219,237,236);
    border: 1px black dotted;
    border-radius: 10px / 10px;
    font-size: 4mm;
}
h1
{
    font-family: 'droid_sansregular', 'Arial', sans-serif;
    color: rgb(34,163,157);
    text-align: center;
    font-size: 10mm;
    font-weight: bold;
}
h2
{
    font-family: 'droid_sansregular', 'Arial', sans-serif;
    color: rgb(15,36,35);
}
h3
{
    font-family: 'droid_sansregular', 'Arial', sans-serif;
    color: rgb(15,36,35);
    font-weight: bold;
}
img
{
    float: center;
}
div
{
    border: 1px solid black;
}
.container1
{
    border: 1px solid green ;
    padding: 3px;
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start;
}
.container2
{
    border: 1px solid royalblue ;
    padding: 6px;
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start;
}